.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
  }

.node-seeker {
    background-color: rgb(0,0,200);
}

.node-target {
    background-color: rgb(148,0,212);
}

.node-obstacle {
    background-color: rgb(25,25,35);
}

.node-path {
    background-color: rgb(79,148,205);
}

.node-inspected {
    background-color: rgb(230,40,40);
}

.node-interesting {
    background-color: rgb(25,255,25);
}

